/* RESET */
* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */
.flex {
  display: flex;
}

.container{
  width: 60%;
  margin: 0 auto;
  border: 1px dashed black;
}

/* HEADER */
header {
  height: 80px;
  /* debug */
  background-color: white;
}

/* NAVIGATION */
.header-container{
  width: 100%;
  max-height: 80px;
}

.navigation {
  flex-direction: row;
  min-height: 80px;
  justify-content: space-between;
}

.col-nav {
  width: calc(100% / 3);
  /* debug */
  background-color: gray;
}

/* MAIN */

/* HERO */
.hero {

  /* debug */
  min-height: 600px;
  background-color: #B4D0E7;
}

.container-hero{
  width: 70%;
  margin: 0 auto;
}

h1 {
  padding-top: 2rem;
  font-size: 3.4rem;
}

.hero-row {
  padding-top: 4rem;
  justify-content: space-between;
}

.hero-col {

  /* debug */
  min-height: 400px;
  background-color: green;
}

.col1 {
  width: 35%;
}

.col2 {
  width: 60%;
}

/* MAIN-SECTION */

.main-section{
  padding-top: 3rem;
}

.row-m-section-up {
  justify-content: space-between;
}

.col-m-section-up {
  width: calc(95% / 3);
  /* debug */
  height: 550px;
  background-color: gray;
}

.row-m-section-bott {

}

.col-bott-m-section {
  margin-top: 1rem;
  width: 100%;
  /* debug */
  height: 200px;
  background-color: gray;
}